.classHover:hover {
  /* background: linear-gradient(90deg, rgb(138, 43, 226) 0%, rgb(138, 43, 226) 100%); */
  /* background: linear-gradient(90deg, #11998e, #38ef7d); */
  background: linear-gradient(90deg, #11998e, #38ef7d);
}

.commonBgColor {
  background:
    linear-gradient(90deg, #11998e, #38ef7d);


}

.commonColor {
  background: linear-gradient(90deg, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* Firefox */
  color: transparent;
  font-size: 36px;
  font-weight: bold;
}


.aboFontColor {
  background: linear-gradient(90deg, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circleDot {
  width: 16px;
  height: 16px;
  background: linear-gradient(90deg, #11998e, #38ef7d);
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -34px;
  top: 5px;
  z-index: 1;
}

.commonTextBlueColor {
  color: rgb(75, 0, 130);
}

@media (max-width: 768px) {
  .profile-wrapper {
    width: 220px !important;
    height: 220px !important;
  }
  .profile-img {
    width: 200px !important;
    height: 200px !important;
  }

  
}
@media (max-width: 768px) {
  body {
    padding-top: 150px !important;
  }
}

.classHover .nav-link:hover {
  color: rgb(75, 0, 130);
}
